header {display: inline;}
#LOGO {width: 40%;margin-right: 30px;}
.inicio {display: inline-block; margin-left: 30px;}
nav {text-transform: uppercase;
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}